#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

dibi:
	driver: mysql
	host: localhost
	database: ladydii_nette
	user: root
	password:
	prefix:

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: *Module\Presenters\*Presenter
	session:
		autoStart: true
		expiration: 14 days
		name: ladydii

services:
	- RouterFactory
	router: @\RouterFactory::createRouter

