#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	database:
		driver: mysql
		host: localhost
		database: ladydii_nette
		user: root
		password: db4u

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: *Module\Presenters\*Presenter

	session:
		expiration: 14 days

services:
	dbSystem:
		class: DibiConnection(%database%)
	- RouterFactory
	router: @\RouterFactory::createRouter
