{block content}

<table class="infoVars">
	{foreach $infoVars as $var}
		{first 2}<tr>{/first}
		<td>
			<div class="{$var['type']}">
				<span>{$var['label']}</span>
				<span>{$var['value']}</span>
			</div>
		</td>
		{last 2}</tr>{/last}
	{/foreach}
</table>