html, body {

}

html {
	background: #f6f6f9;
}
body {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}


div.outerWrapper {
	width: 900px;
	background-color: #fff;
	margin: auto;
	margin-top: 5px;
	padding: 10px 0;
	position:relative;

	border-radius: 10px;
}
div.innerWrapper {
	width: 870px;
	margin: auto;
}


div#header {
	position: relative;
	text-align: center;
}
div#header table {
	width: 100%;
}
div#header table td {
	padding: 0 5px;
}
div#header table td:first-child {
	padding-left: 0;
}
div#header table td:last-child {
	padding-right: 0;
}

div#header a {
	display: block;
	padding: 5px 10px;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
}

div#header .primaryMenu a {
	border-radius: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}
div#header .secondaryMenu a {
	border-radius: 5px;
	font-size: 12px;
}


div#content {
	padding: 20px 0 100px 0;
}

div#footer {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: -20px;

	font-size:  14px;
}



div.infoVars {
	position: relative;
	text-align: center;
}

div.infoVars > div {
	display: inline-block;
	border-radius: 10px;
	margin-bottom: 3px;
	width: 48%;
	border-width: 1px;
	border-style: solid;
}

div.infoVars > div > div {
	padding: 5px 0;
}

div.infoVars > div > div:first-child {
	float: left;
	padding-left: 10px;
}div.infoVars > div > div:first-child:after {
	content: ':';
}

div.infoVars > div > div:last-child {
	float: right;
	padding-right: 20px;
}




html#html body#body .info {
	background-color: rgba(0, 0, 255, 0.1);
	border-color: rgba(0, 0, 139, 0.4);
	color: rgba(0, 0, 139, 1);
}

html#html body#body .ok {
	background-color: rgba(0, 255, 0, 0.2);
	border-color: rgba(0, 100, 0, 0.4);
	color: rgba(0, 100, 0, 1);
}

html#html body#body .error, html#html body#body a[href^="#error:"] {
	background-color: rgba(255, 0, 0, 0.3);
	border-color: rgba(139, 0, 0, 0.4);
	color: rgba(139, 0, 0, 1);
}


table.pageTree {
	width: 100%;
	border-collapse: separate;
}

table.pageTree tr {
	border: 1px solid black;
	margin: 1px;

}

table.pageTree td {
	padding: 4px 0 6px 0;
}

table.pageTree td:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-left: 5px;
}

table.pageTree td:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

}

table.pageTree tr:hover td {
	background: rgba(255,255,255,0.5);
}

table.pageTree td.page_id {
	font-family: monospace;
	font-size: 12px;
}

table.pageTree td.page_level {
	font-family: monospace;
}

table.pageTree .page_level {
	font-family: monospace;
}

table.pageTree td.page_created {
	font-size: 10px;
	font-family: monospace;
	width: 120px;
	text-align: center;
}
